<!DOCTYPE html>
<html>
<head>
  <title>宝宝成长记</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "宝宝成长记", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "主页", root_path %></li>
        <li><%= link_to "关于", home_about_path %></li>
        <% if signed_in? %>
          <%= current_user.email %>
          <li><%= link_to "退出", destroy_user_session_path, method: :delete  %></li>
        <% else %>
          <li><%= link_to "登录", new_user_session_path  %></li>
        <% end %>
      </ul> </nav>
  </div>
</header>

<%= yield %>

</body>
</html>
